.dtc-reset {
    div {
        display: inline;
    }
}

table.fixedHeader-locked {
    position: absolute !important;
    background-color: lightgray;
}

@media print {
    table.fixedHeader-floating {
        display: none;
    }
}
