.dataTables_processing {
    z-index: 1000;
}

div.dataTables_wrapper div.dataTables_info {
    padding: 0 !important;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dataTables_scrollBody {
    max-height: 500px;
    height: 100%;
}

.dt-uk-collection .dt-button-wrapper button {
    width: 100%;
}
