@import 'global/settings';
@import '~uikit/src/scss/variables';

.dataTables_processing {
    z-index: 1000;
}

/**
Footer styling
 */
@media (max-width: $breakpoint-xsmall-max) {
    .dataTables_info, .dataTables_length {
        text-align: center;
        margin-bottom: $margin-small-margin !important;
    }
}

@media (min-width: $breakpoint-xsmall-max) {
    .dataTables_info {
        float: right;
    }
}

/**
Limit table height
 */
.dataTables_scrollBody {
    max-height: 500px;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    height: 100%;
}

/**
Make collection buttons full width
 */
.dt-uk-collection .dt-button-wrapper button {
    width: 100%;
}

/**
ColReorder styles
 */
table.DTCR_clonedTable.dataTable {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 202;
}

div.DTCR_pointer {
    width: 1px;
    background-color: #0259C4;
    z-index: 201;
}

.DTCR_clonedTable {
    tr, th {
        cursor: pointer;
    }
}

table.fixedHeader-floating {
    position: fixed !important;
    background-color: white;
}

table.fixedHeader-floating.no-footer {
    border-bottom-width: 0;
}

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white;
}

@media print {
    table.fixedHeader-floating {
        display: none;
    }
}

$sortingClasses: '.sorting', '.sorting_asc', '.sorting_desc', '.sorting_asc_disabled', '.sorting_desc_disabled';

table.dataTable thead {
    & > tr {
        & > td.sorting_asc, & > td.sorting_desc, & > td.sorting {
            padding-right: 30px;
        }

        & > th:active, & > tr:active {
            outline: none;
        }
    }

    @each $class in $sortingClasses {
        #{$class} {
            cursor: pointer;
            position: relative;

            &:before, &:after {
                position: absolute;
                bottom: 1.2em;
                display: block;
                opacity: 0.3;
            }

            &:before {
                right: 1em;
                content: "↑";
            }

            &:after {
                right: 0.5em;
                content: "↓";
            }
        }
    }

}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0;
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

table.dataTable.uk-table-condensed > thead > tr > th {
    padding-right: 20px;
}

table.dataTable.uk-table-condensed .sorting:after,
table.dataTable.uk-table-condensed .sorting_asc:after,
table.dataTable.uk-table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px;
}
